<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400483622146-v30ndhf1batfub2qd7peb46f77a7dbjb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400483622146-v30ndhf1batfub2qd7peb46f77a7dbjb</string>
	<key>API_KEY</key>
	<string>AIzaSyCM7HV-bxqqOONaCok1_pVOCIyameN_SfE</string>
	<key>GCM_SENDER_ID</key>
	<string>400483622146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guppy</string>
	<key>PROJECT_ID</key>
	<string>chat-x-e8235</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-x-e8235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400483622146:ios:995072132011d8803fb61b</string>
</dict>
</plist>